[Unit]
Description=Start networking services

[Service]
ExecStart=/sbin/ifup eth0
Type=oneshot
ExecStop=/sbin/ifdown eth0
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
